/* header section */
.container {
    width: 90%;
}

li{
    display: inline-block;
    list-style: none;
}

li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.down{
    padding-top: 19px;
}

.nav_first .logo_nav img{
    width: 150px;
    padding: 25px 0;
}

.white_button {
    margin: auto;
    margin-left: 5px;
    background-color: #fff;
    color: rgb(22, 22, 228);
    border: 1px solid rgb(46, 46, 230);
}

.menu_central{
    margin-top: 10px;
    text-align: center;
}

.right_menu{
    text-align: right;
}

.menu_central i,
.right_menu i {
    margin-left: 5px;
}

@media screen and (max-width: 992px){
    .menu_central,
    .right_menu{
        display: none;
    }
}

/* jumbotron section */
.jumbo_section{
    background-image: url("../img/bg-banner-home.jpg");
}

.jumbo_section .container .row {
    margin-top: 30px;
    margin-bottom: 50px;
}

.right_jumbo .text_right_jumbo{
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    padding: 50px;
    text-align: center;
}

.text_right_jumbo input{
    border: 0.5px solid rgb(196, 190, 190);
    margin: 5px 0;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
}

.btn.account_create{
    color: rgb(255, 255, 255);
    background-color:#5a97f3;
    width: 95%;
}

.btn.signup_google{
    position: relative;
    background-color:transparent;
    color:#595858;
    margin: 10px 0;
    width: 95%;
}

.btn.signup_google img{
    position: absolute;
    width: 25px;
    right: 90%;
}

.left_jumbo {
    color: rgb(255, 255, 255);
}

.left_jumbo h1 {
    margin: 50px 0;
}

.text_right_jumbo h4 {
    color: rgb(35, 35, 197);
}

/* sezione loghi */
.logo_section{
    background-color: #f3f5f9;
}

.logo_section .logo_text {
    color: #6f7b97;
    text-align: center;
    padding-top: 18px;
}
    
.logo_section .img_loghi li{
    height: 150px;
    margin: 10px 0;
}

.text_down_loghi a{
    display: inline-block;
    color: #006aff;
    text-decoration: none;
    margin-bottom: 15px;
}

.logo_section .img_loghi img{
    width: 100%;
    height: 100%;
}

.text_down_loghi{
    text-align: center;
}

.text_down_loghi i{
    margin-left: 8px;
    vertical-align: middle;
}

@media screen and (min-width: 766px){
    .logo_section .img_loghi li{
        width: calc(100% / 6 - 20px);
    }

    .logo_section .img_loghi img{
        width: 100%;
        margin-left: 60px;
    }
}

@media screen and (min-width: 990px){
    .logo_section .img_loghi li{
        width: calc(100% / 6 - 20px);
    }

    .logo_section .img_loghi img{
        width: 100%;
        margin-left: 60px;
    }
}

/* sezione deploy */
.section_deploy{
    background-color:white;
    
}

.text_deploy{
    text-align: center;
}


.section_deploy .text_deploy p{
    color: #6f7b97;
    padding: 10px 35px;

}

.section_deploy .sidebar_deploy ul{
    position: relative;
    margin-left: 40%;
    
}

@media screen and (max-width: 767px){
    .section_deploy .sidebar_deploy ul{
        margin-left: 30px;
    }
}

/* developers section */
.section_develop{
    background-color: #f3f5f9;
}

.text_develop p{
    color: #6f7b97;
    padding: 10px 35px;
}

.wrap-develop{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    color: rgb(3, 3, 94);

}


/* business section */

.section_business .wrap-deploy {
    margin-bottom: 10px;
}

.section_business{
    background-color: #ffffff;
}

.section_business .wrap-deploy:last-of-type{
    margin-bottom: 10px;
}

.section_business .wrap-deploy h4{
    margin: 10px 0;
}

.section_business .wrap-deploy p{
    margin-bottom: 10px;
    color: #4d5b79;
}

.section_develop .wrap-develop img{
    width: 100%;
}

.section_business .wrap-deploy a {
    display: inline-block;
    text-decoration: none;
    color: rgb(15, 15, 230);
}

.text_develop {
    text-align: center;
    padding: 25px 0;
}
.wrap-develop i{
    color: rgb(37, 37, 155);
}

.section_develop .wrap-develop p{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* sezione regioni */

.regions_section{
    background-color: #0043c1;
    text-align: center;
}

.regions_section .regions_title h2{
    color: white;
    padding-top: 10px;
}

.regions_section .cities{
    margin: 20px 0;
}

.regions_section .cities h5,
.regions_section .cities p,
.regions_section .cities a{
    display: inline-block;
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

.regions_section .cities li{
    display: block;
}

.regions_section .cities li:not(:last-of-type){
    border-bottom: 1px solid rgb(255, 255, 255);
}

.regions_section .cities h5{
    width: 23%;
}

.regions_section .cities p{
    text-align: left;
    width: 50%;
}

.regions_section .cities a{
    width: 25%;
}

.regions_section .cities a{
    color: #0fc2bf;
}
