/* hamburger menu */
.hamburger-menu{
    text-align: right;
    margin-top: 30px;
}

.nav_first i.ham{
    color: #3a8aff;
    font-size: 18px;
}

@media screen and (max-width: 992px){
    .hamburger-menu{
        display: block;
    }

    .menu_central,
    .right_menu{
        display: none;
    }
}

@media screen and (min-width: 992px){
    
    .hamburger-menu {
        display: none;
    }

    .menu_central,
    .right_menu{
        display: block;
    }
}


/* header section */
.container {
    width: 90%;
}

.nav_first {
    width: 100%;
}

li{
    display: inline-block;
    list-style: none;
}

li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.down{
    padding-top: 19px;
}

.nav_first .logo_nav img{
    width: 150px;
    padding: 25px 0;
}

.white_button {
    color: rgb(22, 22, 228);
    background-color: #fff;
    margin: auto;
    margin-left: 8px;
    border: 1px solid rgb(46, 46, 230);
}

.menu_central{
    margin-top: 10px;
    text-align: center;
}

.right_menu{
    text-align: right;
}

.menu_central i,
.right_menu i {
    margin-left: 10px;
}

@media screen and (max-width: 992px){
    .menu_central,
    .right_menu{
        display: none;
    }
}

/* jumbotron section */
.jumbo_section{
    background-image: url("../img/bg-banner-home.jpg");
}

.jumbo_section .container .box_deploy {
    margin-top: 30px;
    margin-bottom: 50px;
}

.right_jumbo .text_right_jumbo{
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    padding: 50px;
    text-align: center;
}

.text_right_jumbo input{
    border: 0.5px solid rgb(196, 190, 190);
    margin: 5px 0;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
}

.btn.account_create{
    color: rgb(255, 255, 255);
    background-color:#5a97f3;
    width: 95%;
}

.btn.signup_google{
    position: relative;
    background-color:transparent;
    color:#595858;
    margin: 10px 0;
    width: 95%;
}

.btn.signup_google img{
    position: absolute;
    width: 25px;
    right: 90%;
}

.left_jumbo {
    color: rgb(255, 255, 255);
}

.left_jumbo h1 {
    margin: 50px 0;
}

.text_right_jumbo h4 {
    color: rgb(35, 35, 197);
}

/* sezione loghi */
.logo_section{
    background-color: #f3f5f9;
}

.logo_section .logo_text {
    color: #6f7b97;
    text-align: center;
    padding-top: 18px;
}
    
.logo_section .img_loghi li{
    height: 150px;
    margin: 10px 0;
}

.text_down_loghi a{
    display: inline-block;
    color: #006aff;
    text-decoration: none;
    margin-bottom: 15px;
}

.logo_section .img_loghi img{
    width: 100%;
    height: 100%;
}

.text_down_loghi{
    text-align: center;
}

.text_down_loghi i{
    margin-left: 8px;
    vertical-align: middle;
}

@media screen and (min-width: 766px){
    .logo_section .img_loghi li{
        width: calc(100% / 6 - 20px);
    }

    .logo_section .img_loghi img{
        width: 100%;
        margin-left: 60px;
    }
}

@media screen and (min-width: 990px){
    .logo_section .img_loghi li{
        width: calc(100% / 6 - 20px);
    }

    .logo_section .img_loghi img{
        width: 100%;
        margin-left: 60px;
    }
}

/* deploy section */
 
.deploy_section{
    background-color:white;
}

.text_deploy h2{
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
}

.text_deploy p{
    color: #6f7b97;
    font-size: 28px;
    padding: 20px 0;

}

.deploy_section .deploy_sidebar ul{
    position: relative;
    margin-left: 30px;
}

/* media query */
@media screen and (max-width: 767px){

    .deploy_section .deploy_sidebar ul{
        margin-left: 30px;
    }
}
    
.deploy_section .deploy_sidebar .sidebar li{
    list-style: none;
    display: block;
    margin: 15px 0;
}

.deploy_section .deploy_sidebar .sidebar h4{
    color: #75809a;
    font-size: 20px;
}

.deploy_section .deploy_sidebar .box_deploy{
    margin-top: 5px;
    margin-bottom: 50px;
    height: 200px;
}

.deploy_section .deploy_sidebar .box_deploy h4{
    margin: 10px 0;
    font-size: 18px;
}

.deploy_section .deploy_sidebar .box_deploy p{
    font-size: 14px;
}

/* business section */
.section_develop {
    background-color: #f3f5f9;
}

.section_business .wrap-deploy {
    margin-bottom: 10px;
}

.section_develop .wrap-develop {
    text-align: center;
}
.section_business{
    background-color: #ffffff;
}

.section_business .wrap-deploy:last-of-type{
    margin-bottom: 8px;
}

.section_business .wrap-deploy h4{
    margin: 12px 0;
}

.section_business .wrap-deploy p{
    color: #4d5b79;
    margin-bottom: 10px;
}

.section_business .wrap-deploy a {
    display: inline-block;
    color: rgb(15, 15, 230);
    text-decoration: none;
}

/* arrow */
.arrow-container,
.img_container {
    display: inline-block;
    vertical-align: middle;
}

.arrow-container {
    font-size:40px;
}

.img_container {
    width: calc(100% - 60px - 6px);
}




.section_develop .wrap-develop img{
    width: 100%;
}
.text_develop {
    text-align: center;
    padding: 27px 0;
}
.wrap-develop i{
    color: rgb(11, 11, 90);
}

.section_develop .wrap-develop p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_develop_bottom {
    text-align: center;
}

.text_develop_bottom p {
    color: #021c4e;
}

.text_develop_bottom i {
    color: #0569fc;
}

/* sezione regioni */

.regions_section{
    background-color: #0043c1;
    text-align: center;
}

.regions_section .regions_title h2{
    color: white;
    padding-top: 10px;
}

.regions_section .cities{
    margin: 20px 0;
}

.regions_section .cities li{
    display: block;
}

.regions_section .cities h5{
    width: 23%;
}

.regions_section .cities p{
    text-align: left;
    width: 45%;
}

.regions_section .cities a{
    width: %;
}

.regions_section .cities h5,
.regions_section .cities p,
.regions_section .cities a{
    display: inline-block;
    margin: 15px 0;
    color: rgb(255, 255, 255);
}

.regions_section .cities a{
    color: #0fc2bf;
}

/* rocekrbox section */
    .rockerbox_section{
    background-color: #f3f5f9;
    text-align: center;
    color: rgb(3, 3, 94);
}

.content_rockerbox {
    text-align: center;
    padding-top: 20px;
}

.rockerbox_section .rockerbox{
    background-color: white;
    border-radius: 2%;
}
.rockerbox_section .rockerbox img{
    width: 20%;
    padding-top: 40px;
}

.rockerbox_section .rockerbox a{
    color: blue;
    text-decoration: none;
}

.rockerbox_section .rockerbox p{
    color: #6f7b97;
    padding: 10px 35px; 
}

.rockerbox_section .rockerbox .flow{
    vertical-align: middle;
    margin-left: 10px;
}

.content_rockerbox i:not(:first-of-type)  {
    padding-top: 50px;
    padding-bottom: 50px;
}

    /* creat account */
.background_account{
    background-color: #0034ae;
    text-align: center;
    min-height: 200px;
    padding-top: 20px;
}

.background_account h2{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

.background_account  .btn.white_button{
    margin-bottom: 20px;
    padding: 15px 20px;
}

 /* footer  */

.footer_background{
    background-color: #031c4e;
}

.logo_footer{
    color: #5a6887;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo_footer p:first-of-type{
    color: #737f99;
}

.text_footer{
    margin: 10px 0;
    color: #455370;
    display: block;
    list-style: none;
}
   
    
.text_footer h3{
    color: rgb(255, 255, 255);
}

/* media query */
@media screen and (min-width: 769px){


.logo_footer{
        padding-left: 80px;
    }
}

/* fixed button shark */

.shark_fixed {
    position: fixed;
    left: 25px;
    bottom: 25px;
}

.white_text {
    color: rgb(255, 255, 255);
}

.text_blue {
    color:rgb(0, 0, 58)
}

.shark_fixed .shark img {
    width: 100%;
}
.shark_fixed .shark {
    width: 60px;
    padding: 5px 0;
    border-radius: 6px;
    background-color: rgb(21, 70, 168);
    position: relative;
    display: block;
    margin-bottom: 18px;

}

.shark .alert {
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    position: absolute;
    height: 28px;
    width: 28px;
    top: -12px;
    right: -12px;
    border: 2px solid rgb(255, 255, 255);
}

.shark .alert span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rettangolo_bianco {
    position: relative;
    max-width: 320px;
    display: inline-block;
    margin: 0;
    background-color: rgb(231, 231, 230);
    padding: 8px;
}

.rettangolo_bianco p a:hover {
    color: rgb(0, 0, 58);      
}


@media screen and (min-width: 992px) {
    .shark_fixed {
        right: 20px; 
    }

    .rettangolo_bianco {
        margin-right: 15px;
    }

    .shark_fixed .shark,
    .shark_fixed .rettangolo_bianco  {
        float:right;
        margin: 0;
    }
}